<div id='records'>
  <div class='pagination_container'>
    <%= render :partial => 'administrators' %>
  </div>
</div>
<div id='actions'>
  <ul>
    <li>
      <%= link_to t('.create_new_administrator'), new_admin_administrator_url, :class => "add_icon" %>
    </li>
  </ul>
</div>

